<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Resource Server 2</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="http://localhost:8181/resource-server-1" class="p-2 text-dark">Resource Server 1</a>
    </nav>
    <form id="f" th:action="@{/logout}" method="post" role="form" autocomplete="off">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" class="btn btn-outline-primary" th:value="Logout"/>
    </form>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Resource Server 2</h1>
</div>
</body>
</html>
